<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="home-card">
      <ion-button expand="full" (click)="alert()" class="keep-btn"></ion-button>
      <ion-img src="/assets/images/my.png"></ion-img>
    </ion-card>
</ion-content>
<div class="mask" id="pop" *ngIf="isShow">
    <div class="pop">
        <div class="pop-cont">
            <a class="closebtn" (click)="alert()"></a>
            <img src="../assets/images/confirm-task.png"/>
        </div>
    </div> 
</div>
